<html>
<% include ./header %>

<body>


<% if(error === 'false') { %>
Collo is restarting now.<br><br>

<% }else{ %>
This command is invalid.<br><br>

<% } %>
Waiting for a sec ... !

</body>

<script>
setTimeout(function () {
   window.location.href = "/?page=<%=page%>";
}, 5000); 

</script>
</html>